<%= render 'navbar' %>
<%= render @user %>
<div class="latest-events">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><%= notice %></h2>
      <!-- <%= link_to "Edit this user", edit_user_path(@user) %> |
      <%= link_to "Back to users", users_path %>
      <%= button_to "Destroy this user", @user, method: :delete %> -->
      <%= link_to "Ver eventos", activities_path %>
    </div>
    </div>
  </div>
</div>
