<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Sportivo for FIN</title>

  </head>

  <body>

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="#"><h2>Sportivo <em>for Fin</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
              <%= link_to "Home", root_path, class:"nav-link"%>
              </li> 
              <li class="nav-item">
              <%= link_to "Join an event", activities_path, class: "nav-link"%>
              </li>
              <li class="nav-item">
              <%= link_to "Post an event", new_activity_path, class:"nav-link" %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="banner header-text">      
        <div class="banner-item-01">
          <div class="text-content">
            <h4>at Puerto Natales</h4>
            <h2>Join your Next Adventure</h2>
          </div>
        </div>
    </div>

    <div class="latest-events">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Latest Events</h2>
              <a href="all_events.html">view all events <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="event-item">
            <%= image_tag ("event_01.jpg"), class: "img-responsive"%>
              <div class="down-content">
                <a href="event_01.html"><h4>Crossfit en Plaza de Armas</h4></a>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="event-item">
            <%= image_tag ("event_02.jpg"), class: "img-responsive"%>
              <div class="down-content">
                <a href="#"><h4>Trekking a Torres del Paine</h4></a>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="event-item">
              <%= image_tag ("event_03.jpg"), class: "img-responsive"%>
              <div class="down-content">
                <a href="#"><h4>Ruta Patrimonial del Milodón</h4></a>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="event-item">
            <%= image_tag ("event_04.jpg"), class: "img-responsive"%>
              <div class="down-content">
                <a href="#"><h4>Entrenamiento Funcional en el Gimnasio</h4></a>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="event-item">
            <%= image_tag ("event_05.jpg"), class: "img-responsive"%>
              <div class="down-content">
                <a href="#"><h4>5k alrededor de la Plaza</h4></a>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2022 SPORTIVO CO., LTDA.
            
            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/accordions.js"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>

</html>
