<div id="<%= dom_id activity %>">
<div class="event-item">
<a href="#"><img src="assets/images/event_01.jpg" alt=""></a>
<div class="down-content">
  <a href="event_01.html"><h4><%= activity.title %></h4></a>
  <p>
    <strong>Creator:</strong>
    <%= activity.creator %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= activity.datetime %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= activity.location %>
  </p>

  <p>
    <strong>Places:</strong>
    <%= activity.places %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= activity.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= activity.category %>
  </p>
  <%= link_to "Ver detalle", activity %>

  <p>

</div>
</div>
</div>
