<%= render "navbar" %>

<p> style="color: green"><%= notice %></p>
    
<div class="events">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
            <h2>Todos los eventos</h2>
            <p>Descubre todos los eventos disponibles para ti</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="filters-content">
          <div class="row grid">                
            <% @activities.each_with_index do |activity, i| %>
            <div id="<%= dom_id activity %>" class="col-lg-4 col-md-4 all sports">
              <div class="event-item">
              <%= image_tag (activity.category + "_.jpg"), class: "img-responsive"%>
                <div class="down-content">
                <h4><%= link_to activity.title, activity %></h4>
                <p><strong>Quién invita:</strong> <%= activity.creator %></p>
                <p><strong>Cuándo es:</strong>
                <%= activity.datetime.strftime("%-d/%-m/%y: %H:%M")%></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner-content">
          <p>Copyright &copy; 2022 SPORTIVO CO., LTDA.
        
        - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
