<!--

<h1>New activity</h1>

<%= render "form", activity: @activity %>

<br>

<div>
  <%= link_to "Back to activities", activities_path %>
</div>
-->
<% activity = @activity %>
<%= form_with scope: :activity, url: activities_path, local: true do |form| %>


  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Sportivo para FIN</title>


  </head>

  <body>
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Sportivo <em>para Fin</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="all_events.html">Únete a un evento</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="new_event.html">Crea un evento</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->

    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4>en Puerto Natales</h4>
            <h2>Join your Next Adventure</h2>
          </div>
        </div>
       
    </div>
    
    <div class="create-event">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
            <br>
              <h2>Sube tu evento</h2>
            </div>
          </div>
          <div class="col-md-5">
            <div class="event-form">
              <form id="event" action="" method="post">
                <div class="row">
                  <div class="col-sm-12">
                    <h6>Inserta tu nombre</h6>
                    <fieldset>
                      <%= form.text_field :creator, type:"text", class:"form-control", placeholder:"Juán Pérez" %>
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h6>Cómo se llamará tu actividad?</h6>
                    <fieldset>
                      <%= form.text_field :title, type:"text", class:"form-control", placeholder:"Trekking bacán" %>
                    </fieldset>
                  </div>
                  <br><br>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h6>Escribe una breve descripción</h6>
                    <fieldset>
                      <%= form.text_area :description, type:"text", size: "70x5", class:"form-control", placeholder:"Vamos a hacer trekking" %>
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h6>Cuándo será?</h6>
                    <fieldset>
                      <%= form.text_field :datetime, type:"datetime-local", class:"form-control", placeholder:"Date" %>
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h6>Ubicación</h6>
                    <fieldset>
                      <%= form.text_field :location, type:"text", class:"form-control", placeholder:"En la punta del cerro" %>
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h6>Cuántos cupos hay para la actividad?</h6>
                    <fieldset>
                      <%= form.text_field :places, type:"integer", class:"form-control", placeholder:"#" %>
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h6>Tiene algún costo?</h6>
                    <fieldset>
                      <%= form.text_field :price, type:"integer", class:"form-control", placeholder:"$$" %>
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h6>Elige la categoría</h6>
                    
                    <fieldset>
                      <%= form.select :category, ['Trekking', 'Sports','Running'], placeholder:"Evento" %>
                    </fieldset>
                    <br>
                  </div>
                  <br><br>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
  

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2022 SPORTIVO CO., LTDA.
            
            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/accordions.js"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>
<% end %>
