<%= render "navbar" %>

<p> style="color: green"><%= notice %></p>
<div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">            
              <h2>
              <%= @activity.title %>
              </h2>
              <h4>Creada por <%= @activity.creator %> </h4>              
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
            <%= image_tag (@activity.category + "_.jpg"), class: "img-responsive"%>
            </div>
            <br>
            <div class="right-content">
              <h5>¿Quiénes van?</h5>
              <br>
              <ul>
                <li>&#127939;Pau</li>
                <li>&#127939;Roni</li>
                <li>&#127939;Pancho</li>
              </ul>
              <br>
              <ul>
              <li><%= link_to "Edit this activity", edit_activity_path(@activity) %></li>
              
              <!--
              <li><%= button_to "Delete this activity", @activity, method: :delete %></li>
              -->
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>📆 Fecha y hora</h4>
              <p>
              <%= @activity.datetime.strftime("%-d/%-m/%y: %H:%M") %>
              </p>
              <h4>📍 Lugar</h4>
              <p> <%= @activity.location %> </p>
              <h4>🔢 Aforo de la actividad</h4>
              <p>Sin aforo</p>
              <h4>📣 Información adicional</h4>
              <p><%= @activity.description %></p>
              
              <form id="event" action="" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h5>Inscribirme</h5>
                    <br>
                    <fieldset>
                      <input name="event-name" type="text" class="form-control" id="participant-name" placeholder="Your Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Enviar</button>
                    </fieldset>
                  </div>
                </div>
              </form>
              <br>
              <br>

              <strong>Comparte esta actividad en redes sociales</strong>
              <ul class="social-icons">
                            <li><a href="whatsapp://send?text=El enlace a la página" data-action="share/whatsapp/share"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-text="Hola! únete a mi evento" data-show-count="false"><i class="fa fa-twitter"></i></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
              </ul>
              </p>
              <%= link_to "Back to activities", activities_path%>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/accordions.js"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>